<ons-page id="Detail">
    <div class="left"><ons-back-button>back</ons-back-button></div>
    <p style="text-align: center;">
        <img src="img/1.jpg" width="265" height="415"><br><b>IT</B><br>In the summer of 1989, a group of bullied kids band together to destroy a shape-shifting monster, which disguises itself as a clown and preys on the children of Derry, their small Maine town.</p>
            
            <p style="text-align:left;"><br><b>RATING</b><br><img src="img/4.png" width="150" height="60"></p>
            
            <p style="text-align:right;"><ons-button>Play</ons-button></p>
</ons-page>