<ons-page id="Favorite">
    <p style="text-align:left;">
        <img src="img/1.jpg" width="188" height="275" style="float:left; margin:20px 10px;"><br><b>IT</B><br>In the summer of 1989, a group of bullied kids band together to destroy a shape-shifting monster, which disguises itself as a clown and preys on the children of Derry, their small Maine town.
            <br><b>RATING</b><br><img src="img/4.png" width="150" height="60">
        <img src="img/2.jpg" width="188" height="275" style="float:left; margin:20px 10px;"><br><br><br><b>DORA</B><br>Dora, a teenage explorer, leads her friends on an adventure to save her parents and solve the mystery behind a lost city of gold.
            <br><b>RATING</b><br><img src="img/4.png" width="150" height="60">
        <img src="img/3.jpg" width="188" height="275" style="float:left; margin:20px 10px;"><br><br><br><br><br><b>AVENGERS ENDGAME</B><br> the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe
            <br><b>RATING</b><br><img src="img/4.png" width="150" height="60">
    </p>
</ons-page>